body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#121212;
}

/*TIMER*/
#timer-container {
    position: relative;
    width: 100%;
    height: 20%;
    line-height: 100px;
    border-radius: 5px;
    background-color:#222;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#timer {
    position: absolute;
    font-size: 6rem;
    font-weight: normal;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#timerPassivity {
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    color:#222;
    display: flex;
    justify-content: center;
    top: -20px;
}

/*CARDS*/
.cardBtn-container {
    display: flex; 
    justify-content: center;
    gap: 3px;
    margin-bottom: 5px;
    width: 100%;
}

.cardBtn {
    padding: 20px 20px;
    cursor: pointer;
    border: none;
}

#yellowCardLeftBtn, #yellowCardRightBtn {
    background-color: gold;
}
#redCardLeftBtn, #redCardRightBtn {
    background-color: crimson;
}
#blackCardLeftBtn, #blackCardRightBtn {
    background-color: black;
}

#resetCardsBtn {
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    background-color: #222;
    color: darkgray;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}
#resetCardsBtn:active {
    background-color: darkgray;
    color: #222;
}

/*SCORE*/
.scoreBtn-container {
    display: flex; 
    justify-content: center;
    gap: 3px;
    margin-bottom: 5px;
    width: 100%;
}
.scoreBtn {
    cursor: pointer;
    border: none;
    background-color: #222;
}

#minusLeftBtn, #minusRightBtn {
    width: 60px;
    height: 60px;
    color: crimson;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#plusLeftBtn, #plusRightBtn {
    width: 60px;
    height: 60px;
    color: limegreen;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#plusLeftBtn:active, #plusRightBtn:active {
    color: #222;
    background-color: limegreen;
}
#minusLeftBtn:active, #minusRightBtn:active {
    color: #222;
    background-color: crimson;
}
#resetPointsBtn {
    font-size: 14px;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    color: darkgray;
    margin-right: 5px;
    margin-left: 5px;
}
#resetPointsBtn:active {
    background-color: darkgray;
    color: #222;
}
/* Points box */
#points {
    font-size: 6rem;
    font-weight: normal;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: 20%;

    border-radius: 5px;
    background-color:#222;
    margin-bottom: 5px;
}
#leftPoints, #rightPoints {
    cursor: pointer;
}

/*Cards*/
#priorityLeft {
    font-size: 2rem;
    font-weight: normal;
    color: #222;
    position: absolute;
    top: 5px;
    left: 10px;
}
#priorityRight {
    font-size: 2rem;
    font-weight: normal;
    color: #222;
    text-align: right;
    position: absolute;
    top: 5px;
    right: 10px;
}
#yellowCardLeft {
    width: 10px;
    height: 20px;
    background-color: #222;
    position: absolute;
    top: 60px;
    left: 10px;
}
#redCardLeft {
    width: 10px;
    height: 20px;
    background-color: #222;
    position: absolute;
    top: 85px;
    left: 10px;
}
#yellowCardRight {
    width: 10px;
    height: 20px;
    background-color: #222;
    position: absolute;
    top: 60px;
    right: 10px;
}
#redCardRight {
    width: 10px;
    height: 20px;
    background-color: #222;
    position: absolute;
    top: 85px;
    right: 10px;
}
#fullscreenCard {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 9999;
}

/*START/STOP*/
#toggleTimerBtn {
    width: 100%;
    height: 15%;
    letter-spacing: 3px;

    border-radius: 5px;
    background-color: limegreen;
    color: #fff;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

/*OTHER*/
.otherBtn-container {
    display: flex; 
    justify-content: center;
    gap: 3px;
}

.otherBtn {
    font-size: 14px;
    width: auto;
    padding: 10px 12px;
    background-color: #222;
    color: darkgrey;
    cursor: pointer;
    border: none;
}
.disabled {
    color: rgb(124, 124, 124);
    background-color: #171717;
    cursor: not-allowed;
}
.otherBtn:active {
    background-color: darkgray;
    color: #222;
    transition: 0.2s;
}
